@*@model IEnumerable<doan_qlDuan_CNTT.Areas.Store.Models.SANPHAM>*@
@model List<doan_qlDuan_CNTT.Areas.Store.Models.SANPHAM>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}

<div class="container1">
    <div class="banner-info">
        <div class="search-form">
            @using (Html.BeginForm("SearchByName", "Home"))
            {
                <p>
                    @Html.TextBox("name")
                    <input type="submit" style="background-color:lightpink;" placeholder="Tìm kiếm..." value="Tìm sản phẩm" />
                </p>
            }
        </div>
    </div>   
    <div class="spec ">
        <h3>Tìm kiếm "@ViewBag.search"</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
</div>



@*<table class="table">*@
@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DungTich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGiaMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XuatXu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuiCach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th></th>
    </tr>*@

@**@@*foreach (var item in Model)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DungTich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGiaMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XuatXu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuiCach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
        </td>
    </tr>
}

    </table>*@

<div class="container">
    @if (Model == null || Model.Count == 0)
    {
        <div class="spec ">
            <h3></h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <p class="text-info text-center" style="font-size:25px;">
            Không tìm thấy sản phẩm thích hợp
        </p>
    }
    else
    {
        <div class="spec ">
            <h3></h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        @foreach (var item in Model)
                        {
                            <tr>
                            <td class="text-center">
                                <img src="~/Images/@Url.Content(item.HinhAnh)"
                                     alt="HinhAnh"
                                     width="100"
                                     height="80" />
                            </td>
                            <td>@(item.TenSP)</td>
                            <td> @(item.DonGiaMua) </td>
                            <td>@(item.XuatXu)</td>
                            <td>@(item.MoTa)</td>
                            <td>
                                <a class="btn btn-success" href="@Url.Action("ProductDetail", "Home", new { id = item.MaSP })" style="background-color:lightpink">
                                    Xem chi tiết</a>
                                @*@Html.ActionLink("Xem chi tiết", "ProductDetail", new { id = item.MaSP }) |*@
                            </td>
                            <td>
                                <a class="btn btn-success" href="@Url.Action("ThemVaoGio","GioHang", new { id = item.MaSP })" style="background-color:lightpink">
                                     Thêm vào giỏ</a>
                            </td>
                        </tr>

                            
                        }

                    </table>
                </div>

            </div>

        </div>
    }
</div>
