@model doan_qlDuan_CNTT.Areas.Store.ViewModels.SanPhamViewModel

@{
    ViewBag.Title = "xemChitiet_SP_eyes";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>THÔNG TIN SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="text-left">
            <dd class="text-center">
                <img src="~/Images/@Url.Content(Model.HinhAnh)"
                     alt="HinhAnh"
                     width="300"
                     height="350" />
            </dd>
        </div>
        <div class="text-right">
            <dd class="text-left">
                <p style="font-size:medium">@Html.DisplayFor(model => model.TenSP)</p>
            </dd>

            <dd class="text-left">
                <p>Dung tích: @Html.DisplayFor(model => model.DungTich)</p>

            </dd>

            <dd class="text-left">
                <p>Qui cách đóng gói: @Html.DisplayFor(model => model.QuiCach)</p>

            </dd>

            <dd class="text-left">
                <p>Gía bán: @Html.DisplayFor(model => model.DonGiaMua)</p>

            </dd>

            <dd class="text-left">
                <p>Xuất xứ sản phẩm:  @Html.DisplayFor(model => model.XuatXu)</p>

            </dd>

            <dd class="text-left">
                <p>Mô tả: @Html.DisplayFor(model => model.MoTa)</p>

            </dd>
        </div>

    </dl>
</div>
<p class="text-right">
    <a class="btn btn-success" href="@Url.Action("ThemVaoGio","GioHang", new { id = Model.MaSP })" style="background-color:lightpink">
        Thêm vào giỏ
    </a>
</p>
<p class="text-left">
    <a class="btn btn-success" href="@Url.Action("sp_TrangdiemEyes","SanPham", new { id = Model.MaSP })" style="background-color:lightpink">
        Xem sản phẩm khác
    </a>
</p>
